<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854307515900-mhbmbknp78tml6d5dr8rppbtmpfmk1f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854307515900-mhbmbknp78tml6d5dr8rppbtmpfmk1f4</string>
	<key>API_KEY</key>
	<string>AIzaSyASStNz1xTq8Qa_cAdN1UvE4JAGgjP-JKU</string>
	<key>GCM_SENDER_ID</key>
	<string>854307515900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kayan.B2B</string>
	<key>PROJECT_ID</key>
	<string>b2b-app-a39f4</string>
	<key>STORAGE_BUCKET</key>
	<string>b2b-app-a39f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854307515900:ios:cf27955a5d3b14eb7d9679</string>
</dict>
</plist>